* {
    box-sizing: border-box;
  }

body{
    background-color: rgb(244, 247, 238);
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    margin:0px;
    padding: 0px;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: green;
}

a:active {
  text-decoration: underline;
}

.main {
  padding-left:10px;
  padding-right:10px;
}

h1{
  background-image: url('images/logo_transparent.png');
}


.header{
  position: -webkit-sticky; /* Safari */
  top: 0;
  position: sticky;
  background-color: rgb(255, 253, 247);
  border-bottom: 1.5px solid black;
  width:100%;
  height:70px;
  margin-bottom: 10px;

}

.logo{

}
.logo2{
  margin-right:240px;
  float: right;

}


.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /*grid-auto-rows: 100px;*/
    grid-column-gap : 15px;
    grid-row-gap: 10px;

  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    word-wrap: break-word; 
    z-index: -2;

  }

  .mySlides {
    height:240px;
    border: 0px solid black;

      }


  
  
      .active {
    background-color: #717171;
  }
  
  /* Fading animation
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  } */
  
  
  .box2 {
    /*background-color: rgba(180, 217, 200,0.5);*/
    color: rgb(190, 154, 92);
    border-left: 0px solid black;
    overflow-y: scroll;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 240px;
    padding-top:0pt;
    padding-left: 5pt ;
    padding-right: 5pt ;


  }

  .box2text{
    font-size: 0.9em;
    font-style: oblique;
    font-weight: bold;
    width:70%;
  }

  .box2::-webkit-scrollbar {
    display: none;
}

  .box3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    display:flex;
    font-size: 0.7em;
  }
  .call1{
    border-left: 1px solid black;
    font-size:xx-small;
    padding-left: 5px;
    width:68%;
    padding-right:80px;
    display: flex;
    height: 100%;
  }

  .call2{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 32%;
  }

  
   .call3{

    padding-left: 5px;
    padding-bottom: 0px;
    padding-right:0px;
    border-left:1px solid black ;
    font-size:xx-small;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    display: flex;

  }

  .textcall3{
    width: 80%;
    padding-right: 30px;
  }

  p{
    display: inline-block;
    align-self: flex-end;
    font-size: 0.9em;
    font-weight: bold;
  }

  .nested1{
    font-size: 0.8em;
    height:100%;
    background-color: rgba(220, 176, 100, 0.512);
    border-radius: 18px;
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
#adressform{
    width:30%;
    height:40%;
    background-color: rgba(220, 176, 100, 0.512);
    border-radius: 20px;
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-small;
    text-align: center;
    align-self: flex-end;
  }
.map{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end:7;
}

iframe{
  border: 1px solid black;
}


